* {
    box-sizing: border-box;
    background-color: rgb(209, 209, 209);
    margin: 0px;    
}
.content {
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    height: 100vh;
}
.form {    
    background-color: rgb(255, 255, 255);
    width: 755px;
    height: 943px;
}

.picture {    
    width: 556px;
    height: 943px;
    background-image: url(img/girls.jpg); 
    background-size:cover;
}

